

*{
	padding: 0;
	margin: 0;
}

body{
	background-image: url('../img/fondo.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	color: black;
}

.header{
	background-color: #4A148C;
}

.brand-logo{
	margin-left: 14rem;
}

.container{
	padding: 5% 20%;
	background-color: rgba(187, 212, 208, 0.8);
	margin-top: 5rem;

}

.add-text{
 width: 200px;
	align-items: center;
	color: black;
	background-color: transparent;
  display: flex;
}

.list-body{
  display: flex;
}

.btn{
  margin-left: 200px;
  margin-top: 0.3rem;
}

label.checkbox{
  color: black;
}

.listitem{
  padding-top: 4rem;
}

::-webkit-input-placeholder { color: #4A148C; } /* WebKit */
